.slick-track {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slick-arrow {
  width: 30px;
  height: 30px;
}

.slick-prev {
  left: -40px;
}

.slick-next {
  right: -40px;
}

.slick-prev:before,
.slick-next:before {
  font-size: 30px;
  color: black;
  transition: all 0.2s;
}

.slick-prev:hover:before,
.slick-next:hover:before {
  color: darkgray;
  outline: none;
  background: transparent;
}

@media screen and (max-width: 660px) {
  .slick-arrow {
    display: none !important;
  }
}
